body {
	background: #1abc9c;
	font-family: Tahoma, Arial, sans-serif;
	color: #33;
}
table {
	border-collapse: collapse;
}
p, h4 {
	font-size: 22px;
	margin-bottom: 0;
}
ul, ol {
	margin: 0
}
table tr td {
	padding: 5px
}
