body {
	background: #1abc9c;
	font-family: Tahoma, Arial, sans-serif;
	color: #11;
}
table {
	border-collapse: collapse;
}
h1 {
	font-family: Georgia;
	}
p, h4 {
	font-size: 14px;
	margin-bottom: 0;
}
ul, ol {
	margin: 0
}
table tr td {
	padding: 125px
}
